html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1a2a33;
    ;
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


.container {
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 31.75em;
    padding: 0 24px;
}

img {
    width: 32px;
    margin: 0 2px;
    height: 32px;
}

.gameHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.turn {
    width: 140px;
    height: 52px;
    background-color: #1f3641;
    border-radius: 12px;
    box-shadow: inset 0 -4px 0 #10212a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px 6px;

}

.turn img {
    width: 20px;
    height: 20px;
}

.turn h1 {
    font-size: 1rem;
    line-height: 0;
    font-weight: bold;
    color: #a8bfc9;
}

.restart {
    border-radius: 12px;
    background-color: #a8bfc9;
    box-shadow: inset 0 -4px 0 #6b8997;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: none;
    

}

.restart img {
    width: 20px;
    height: 20px;
}

.gameBoard {
    width: 100%;
    height: 31.75em;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    justify-content: space-between;
}

.cell {
    flex: 0 0 30%;
    background-color: #1f3641;
    max-height: 140px;
    border-radius: 12px;
    box-shadow: inset 0 -8px 0 #10212a;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.scoreBoard {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.score {
    height: 72px;
    flex: 0 0 30%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.score h3 {
    color: #1a2a33;
    flex-basis: 100%;
    margin: 4px 0 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.score b {
    font-size: 1.5rem;
    color: #1f3641;
    font-weight: 700;
    margin: -9px 0 0;

}


